body, html {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}


#navbar {
	width: 100vw;
	height: 50px;
	position: fixed;
	z-index: 10;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
  display: flex;
  justify-content: space-around;
  background-color: #F0F0F0;
}

.button, .buttonpage {
    font-family: 'Quicksand', sans-serif;
    font-weight:bold;
    display: inline-block;
    height: 50px;
    width: 100px;
    background: transparent;
    color: #000;
    border: 0px solid #fff;
    margin: 0px;
    cursor: pointer;
    opacity: 0.85;
    transition-duration: .45s;
    text-align: center;
    line-height: 50px;

}



#row {
    overflow-x: auto;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    right: 10px;
    top: 0;
    float: left;
    justify-content: space-around;
    display: flex;
}

.buttonpage {
  color: #fff;
  border: 0px solid #000;
  background: #000;
}





#first {
  margin: 0;
  max-width: none;
  background-color: #F0F0F0;
  height: 100vh;
  border-bottom: solid 1px #C0C0C0;
  z-index: 20;
}

#second{
  height: 100vh;
}
.picture {
  max-width: 40vh;
  max-height: 40vh;
  border-radius: 50%;
}

.undertext {
  font-family: 'Share Tech Mono', monospace;
  color: #888888;
  font-size: 20px;
}

.typed-quotes {

}

.typed-cursor {
       opacity: 1;
       animation: blink .7s infinite;
   }

   @keyframes blink {
       0% {
           opacity: 1;
       }
       50% {
           opacity: 0;
       }
       100% {
           opacity: 1;
       }
   }

.just-text{
  padding-top: 20vh;
}


#second {
  width: 100%;
  margin: 0;
  max-width: none;
  background-color: #f7f7f7;
  height: 100vh;
}


.fullscreen {
	text-align: center;
	padding-bottom: 8em;
	background-color: #fbfbfb;
  padding-top: 80px;
  position: relative;
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}


/* The code below is from https://codepen.io/nxworld/pen/OyRrGy */
#scrollera1 a {
  padding-top: 70px;
}
#scrollera1 a span {
  position: absolute;
  bottom: 7%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 1.8s infinite;
  animation: sdb04 1.8s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/* #scrollera1 a {
  padding-top: 70px;
}
#scrollera1 a span {
  position: absolute;
  bottom: 7%;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-animation: sdb05 3s infinite;
  animation: sdb05 3s infinite;

  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
 */


/* FOR SPINNING

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} */

/* The code above is from https://codepen.io/nxworld/pen/OyRrGy */





.picture {
  max-width: 40vh;
  max-height: 40vh;
  border-radius: 50%;
  border:solid 1px #C0C0C0;
  -webkit-filter: blur(0px) grayscale(30%) opacity(90%);
  filter: blur(0px) grayscale(30%) opacity(90%);
}


.info{
  padding-top: 25px;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-bottom: 10px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.3vw;
}

.toptextbox {
  background-color: #181818;
  color: #fff;
  height: 89vh;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}

.bottomtextbox{
  height: 9vh;
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 40px;

}

.fa {
  display: flex;
  text-align: center;
  width: 55px;
  height: 45px;
  padding-top: 4px;
  /* vertical-align: middle; */
  text-decoration: none;
  border-radius: 20%;
  /* padding: 20px; */
  background: transparent;
  /* justify-content: center;
  align-items: center; */
  align-items: center;
  color: #000;
  transition-duration: 0.26s;
}

.fa:hover{
  background: #000;
  color: #fff;
}
